{% extends "minds/base.html" %}

{% block title %}
   this is agensy Page
{% endblock %}

{% block headline_h1 %}
   Agensy
{% endblock %}

{% block headline_h4 %}
   Agensy is compatible with popular world plugins
{% endblock %}

{% block content %}
{% load static %}
<section class="page-header">
  <div class="video-bg">
    <video src="{% static 'minds/videos/video.mp4' %}" loop autoplay muted></video>
  </div>
  <!-- end video-bg -->
</section>
<!-- end page-header -->
<section class="about-intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>About Agensy</h2>
        <p>Use this thread to nominate one of your items to be used in a Free File promotion between April 1 and June
          30, 2019. This may include our regular month-long “Free File of the Month” promotions, the monthly Free
          Wordpress Themes landing page, or other initiatives run by the Envato Marketing team.</p>
      </div>
      <!-- end col-12 -->
      <div class="col-md-6">
        <p>
          Free files are a powerful motivator for bringing new customers into ThemeForest, and serve to showcase the
          quality of the rest of the marketplace. Items used in these campaigns receive a significant amount of
          exposure, which can flow on to more people viewing your profile, portfolio, and the other items you have for
          sale.</p>
      </div>
      <!-- end col-6 -->
      <div class="col-md-6">
        <p>

          Free files are a powerful motivator for bringing new customers into ThemeForest, and serve to showcase the
          quality of the rest of the marketplace. Items used in these campaigns receive.</p>
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end about-intro -->
<section class="main-services" data-color="dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="titles">
          <h6>PROIT SERVICES</h6>
          <p>We’re constantly refining our product. Adding new features. Working to
            help your business grow.</p>
        </div>
        <!-- end titles -->
      </div>
      <!-- end col-12 -->
      <div class="col-lg-3 col-md-6">
        <figure class="wow fadeinUp"> <img src="{% static 'minds/images/icon01.svg' %}" alt="Image">
        </figure>
        <article>
          <span>01</span>
          <h4>UI-UX DESIGN</h4>
        </article>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="wow fadeinUp"> <img src="{% static 'minds/images/icon02.svg' %}" alt="Image">
        </figure>
        <article>
          <span>02</span>
          <h4>DESIGN CODING</h4>
        </article>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="wow fadeinUp"> <img src="{% static 'minds/images/icon03.svg' %}" alt="Image">
        </figure>
        <article>
          <span>03</span>
          <h4>BRANDING</h4>
        </article>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="wow fadeinUp"> <img src="{% static 'minds/images/icon04.svg' %}" alt="Image">
        </figure>
        <article>
          <span>04</span>
          <h4>MARKETTING</h4>
        </article>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="wow fadeinUp"> <img src="{% static 'minds/images/icon05.svg' %}" alt="Image">
        </figure>
        <article>
          <span>05</span>
          <h4>IOS APPS</h4>
        </article>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="wow fadeinUp"> <img src="{% static 'minds/images/icon06.svg' %}" alt="Image">
        </figure>
        <article>
          <span>06</span>
          <h4>CUSTOM CMS</h4>
        </article>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="wow fadeinUp"> <img src="{% static 'minds/images/icon07.svg' %}" alt="Image">
        </figure>
        <article>
          <span>07</span>
          <h4>JAVA APPS</h4>
        </article>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="wow fadeinUp"> <img src="{% static 'minds/images/icon08.svg' %}" alt="Image">

        </figure>
        <article>
          <span>08</span>
          <h4>eCOMMERCE</h4>
        </article>
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end main-services -->

<!-- end our-awards -->
<section class="team" data-color="dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="titles">
          <h6>TEAM MEMBERS</h6>
          <p>We’re constantly refining our product. Adding new features. Working to
            help your business grow.</p>
        </div>
        <!-- end titles -->
      </div>
      <!-- end col-12 -->
      <div class="col-lg-3 col-md-6">
        <figure>
          <img src="{% static 'minds/images/team01.jpg' %}" alt="Image">
          <figcaption>
            <h5>Sasha O'Kharin</h5>
            <span>Freelance Creative Developer</span>
            <a href="#">Linkedin</a>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure>
          <img src="{% static 'minds/images/team02.jpg' %}" alt="Image">
          <figcaption>
            <h5>Oleg Pachorski</h5>
            <span>Freelance Creative Developer</span>
            <a href="#">Linkedin</a>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure>
          <img src="{% static 'minds/images/team03.jpg' %}" alt="Image">
          <figcaption>
            <h5>Alex Avdeivva</h5>
            <span>Freelance Creative Developer</span>
            <a href="#">Linkedin</a>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure>
          <img src="{% static 'minds/images/team04.jpg' %}" alt="Image">
          <figcaption>
            <h5>Andrey Kolbasin</h5>
            <span>Freelance Creative Developer</span>
            <a href="#">Linkedin</a>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end team -->
<section class="logos">
  <div class="container">
    <div class="titles">
      <h6>SELECTED CLIENTS</h6>
      <p>We’re constantly refining our product. Adding new features. Working to
        help your business grow.</p>
    </div>
    <!-- end titles -->
    <ul class="wow fadeInUp">
      <li>
        <figure><img src="{% static 'minds/images/logo01.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo05.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo02.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo15.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo03.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo12.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo04.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo11.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo05.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo06.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo06.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo02.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo07.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo07.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo08.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo13.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo09.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo16.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo10.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo15.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo11.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo01.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo12.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo06.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo13.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo04.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo14.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo11.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo15.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo10.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo04.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo12.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo05.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo08.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo06.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo03.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo07.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo02.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo08.png' %}" alt="Image">
          <img src="{% static 'minds/images/logo10.png' %}" alt="Image">
        </figure>
      </li>
    </ul>
  </div>
  <!-- end container -->
</section>
<!-- end logos -->
<section class="work-with-us" data-color="dark">
  <div class="container wow fadeInUp">
    <h6>WORK WITH PRO TEAM</h6>
    <h2>Would you like to have professional project?
      Let's talk about it!</h2>
    <p><a href="#">hire-us@agensy.com.ua</a></p>
    <small>Or</small>
    <p>+380 98 294 80 85</p>
  </div>
  <!-- end container -->
</section>
{% endblock %}
