{% extends "minds/base.html" %}

{% block title %}
   this is Home Page
{% endblock %}

{% block headline_h2 %}

{% endblock %}

{% block headline_p %}

{% endblock %}

{% block content %}
{% load static %}
{% include 'minds/slider.html' %}
<section class="works">
  <div class="container">
    <ul>
      <li>
        <div class="titles">
          <h2>Explore recent works</h2>
          <p>We’re constantly refining our product. Adding new features. Working to help your section business grow.</p>
            <div class="custom-btn"><a href="#">See all cases<span></span> <i></i></a></div>
            <!-- end custom-btn -->
          </div>
        <!-- end titles --> 
      </li>
      <li>
        <div class="project-box">
          <figure class="project-image reveal-effect masker wow"> <a href="{% static 'minds/images/works01.jpg' %}" data-fancybox><img src="{% static 'minds/images/works01.jpg' %}" alt="Image"></a> </figure>
          <div class="project-content">
            <h3><a href="{% static 'minds/images/works01.jpg' %}" data-fancybox>Moments Matter Event Studio</a></h3>
            <small>Branding — Website</small> </div>
          <!-- end project-content --> 
        </div>
        <!-- end project-box --> 
      </li>
      <li>
        <div class="project-box">
          <figure class="project-image reveal-effect masker wow"> <a href="{% static 'minds/images/works02.jpg' %}" data-fancybox><img src="{% static 'minds/images/works02.jpg' %}" alt="Image"></a> </figure>
          <div class="project-content">
            <h3><a href="{% static 'minds/images/works02.jpg' %}" data-fancybox>More Powered Macbook Pro X</a></h3>
            <small>Website — eCommerce</small> </div>
          <!-- end project-content --> 
        </div>
        <!-- end project-box --> 
      </li>
      <li>
        <div class="project-box">
          <figure class="project-image reveal-effect masker wow"> <a href="{% static 'minds/images/works03.jpg' %}" data-fancybox><img src="{% static 'minds/images/works03.jpg' %}" alt="Image"></a> </figure>
          <div class="project-content">
            <h3><a href="{% static 'minds/images/works03.jpg' %}" data-fancybox>Stan's Office Online Gateway</a></h3>
            <small>Wordpress — eCommerce</small> </div>
          <!-- end project-content --> 
        </div>
        <!-- end project-box --> 
      </li>
      <li>
        <div class="project-box">
          <figure class="project-image reveal-effect masker wow"> <a href="{% static 'minds/images/works04.jpg' %}" data-fancybox><img src="{% static 'minds/images/works04.jpg' %}" alt="Image"> </a></figure>
          <div class="project-content">
            <h3><a href="{% static 'minds/images/works04.jpg' %}" data-fancybox>David Courtney IOS Application</a></h3>
            <small>Print — Branding</small> </div>
          <!-- end project-content --> 
        </div>
        <!-- end project-box --> 
      </li>
    </ul>
  </div>
  <!-- end container --> 
</section>
<!-- end works -->
<section class="featured-services" data-color="dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="titles">
          <h6>FEATURED SERVICES</h6>
          <p>We’re constantly refining our product. Adding new features.  Working to 
            help your business grow.</p>
        </div>
        <!-- end titles --> 
      </div>
      <!-- end col-12 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="{% static 'minds/images/icon01.svg' %}" alt="Image">
          <figcaption>
           <span>01</span>
            <h4>UI-UX DESIGN</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="{% static 'minds/images/icon02.svg' %}" alt="Image">
          <figcaption>
           <span>02</span>
            <h4>DESIGN CODING</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="{% static 'minds/images/icon03.svg' %}" alt="Image">
          <figcaption>
           <span>03</span>
            <h4>BRANDING</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="{% static 'minds/images/icon04.svg' %}" alt="Image">
          <figcaption>
           <span>04</span>
            <h4>MARKETTING</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 --> 
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="{% static 'minds/images/icon05.svg' %}" alt="Image">
          <figcaption>
           <span>05</span>
            <h4>IOS APPS</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="{% static 'minds/images/icon06.svg' %}" alt="Image">
          <figcaption>
           <span>06</span>
            <h4>CUSTOM CMS</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="{% static 'minds/images/icon07.svg' %}" alt="Image">
          <figcaption>
           <span>07</span>
            <h4>JAVA APPS</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="{% static 'minds/images/icon08.svg' %}" alt="Image">
          <figcaption>
           <span>08</span>
            <h4>eCOMMERCE</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end featured-services -->
<section class="recent-news">
  <div class="container"> 
	<div class="row align-items-end">
		<div class="col-12 wow fadeInUp">
			<div class="content-box selected">
				<small>Creative, WordPress</small>
				<h3><a href="blog-single.html">We're Making Office Changes & Introducing our New Office</a></h3>
				<span>17 September, 2019</span>
			</div>
			<!-- end content-box -->
		</div>
		<!-- end col-12 -->
		<div class="col-lg-4 wow fadeInUp">
			<div class="content-box">
				<small>Creative, WordPress</small>
				<h3><a href="blog-single.html">We're Making Office Changes & Introducing our New Office</a></h3>
				<span>17 September, 2019</span>
			</div>
			<!-- end content-box -->
		</div>
		<!-- end col-4 -->
		<div class="col-lg-4 wow fadeInUp">
		
			<div class="content-box">
				<small>Development, Browser</small>
				<h3><a href="blog-single.html">The New Chrome and Safari Will Reshape the Web for Authors</a></h3>
				<span>22 October, 2019</span>
			</div>
			<!-- end content-box -->
		</div>
		<!-- end col-4 -->
		
		<div class="col-lg-4 wow fadeInUp">
			<div class="content-box">
				<small>Security, Internet</small>
				<h3><a href="blog-single.html">Half the Web Is Now Encrypted hat Makes Everyone Safery</a></h3>
				<span>30 November, 2019</span>
			</div>
			<!-- end content-box -->
		</div>
		<!-- end col-4 -->
	</div>
	<!-- end row -->
	</div>
  <!-- end container --> 
</section>
<!-- end recent-news -->

<!-- end our-awards -->
<section class="showreel" data-color="dark">
  <div class="container">
    <div class="video reveal-effect masker wow">
    	<video src="{% static 'minds/videos/video.mp4' %}" autoplay loop muted></video>
    	<h2>SHOWREEL</h2>
    	<!-- end content -->
      </div>
    <!-- end video --> 
  </div>
  <!-- end container --> 
</section>
<!-- end showreel -->
<section class="logos">
  <div class="container">
    <div class="titles">
      <h6>SELECTED CLIENTS</h6>
      <p>We’re constantly refining our product. Adding new features.  Working to
        help your business grow.</p>
    </div>
    <!-- end titles -->
    <ul class="wow fadeInUp">
      <li>
        <figure><img src="{% static 'minds/images/logo01.png' %}" alt="Image">
        <img src="{% static 'minds/images/logo05.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo02.png' %}" alt="Image">
        <img src="{% static 'minds/images/logo15.png'%}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo03.png' %}" alt="Image">
        <img src="{% static 'minds/images/logo12.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo04.png' %}" alt="Image">
        <img src="{% static 'minds/images/logo11.png' %}" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo05.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo06.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo06.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo02.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo07.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo07.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo08.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo13.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo09.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo16.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo10.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo15.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo11.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo01.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo12.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo06.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo13.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo04.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo14.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo11.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo15.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo10.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo04.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo12.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo05.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo08.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo06.png'  %}" alt="Image">
         <img src="{% static 'minds/images/logo03.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo07.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo02.png' %}" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="{% static 'minds/images/logo08.png' %}" alt="Image">
         <img src="{% static 'minds/images/logo10.png' %}" alt="Image"></figure>
      </li>
    </ul>
  </div>
  <!-- end container --> 
</section>
<!-- end logos -->
<section class="work-with-us" data-color="dark">
  <div class="container wow fadeInUp">
    <h6>WORK WITH PRO TEAM</h6>
    <h2>Would you like to have professional project?
      Let's talk about it!</h2>
    <p><a href="#">hire-us@agensy.com.ua</a></p>
    <small>Or</small>
    <p>+380 98 294 80 85</p>
  </div>
  <!-- end container --> 
</section>



{% endblock %}
