{% load static %}
<section class="slider">
    <div class="swiper-container"> 
      <div class="swiper-wrapper"> 
        {% for row in sliderPage %}
        <div class="swiper-slide" data-background="{{ row.image.url }}">
          <div class="slide-inner">
          <figure><img src="{{ row.logo.url }}" alt="Image"></figure>
              <h2>{{ row.title }}</h2>
              <div class="link">
              <a href="#">SEE CASE STUDY</a>
              </div>
              <!-- end link -->
          </div>
          <!-- end slide-inner -->
        </div>
        {% endfor %}
        <!-- end swiper-slide -->
        <!-- <div class="swiper-slide" data-background="{% static 'minds/images/slide02.jpg' %}">
          <div class="slide-inner">
          <figure><img src="{% static 'minds/images/client02.png' %}" alt="Image"></figure>
              <h2>Space in typographical terms is usually</h2>
              <div class="link">
              <a href="#">SEE CASE STUDY</a>
              </div> -->
              <!-- end link -->
          <!-- </div> -->
          <!-- end slide-inner -->
        <!-- </div> -->
        <!-- end swiper-slide -->
        <!-- <div class="swiper-slide" data-background="{% static 'minds/images/slide03.jpg' %}">
          <div class="slide-inner">
          <figure><img src="{% static 'minds/images/client03.png' %}" alt="Image"></figure>
              <h2>Space in typographical terms is usually</h2>
              <div class="link">
              <a href="#">SEE CASE STUDY</a>
              </div> -->
              <!-- end link -->
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
      </div>
      <!-- end swiper-wrapper -->
    <div class="swiper-pagination"></div>
    <!-- end swiper-pagination -->
    <div class="swiper-button-next"><span></span><b>NEXT</b></div>
    <!-- end swiper-button-next -->
  </div>
  
  <!-- end swiper-container -->
</section>
<!-- end slider -->